<div style="height: 100vh">
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a href="/dictionary" mat-menu-item>Dictionary</a>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
    <span>Word</span>
    <span class="example-spacer"></span>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="sidenav-container">
    <mat-sidenav-content fxFlexFill>
      <div flex fxLayout="row">
        <div [fxFlex]="'calc(50% - 640px)'" fxHide.lt-lg></div>
        <div fxFlex.gt-md="1280px" fxFlex.lt-lg="100">
          <div flex fxLayout="row">
            <div fxFlex.xs="8px" fxFlex.sm="24px" fxFlex.gt-sm="32px"></div>
            <div fxFlex="auto"><router-outlet></router-outlet></div>
            <div fxFlex.xs="8px" fxFlex.sm="24px" fxFlex.gt-sm="32px"></div>
          </div>
        </div>
        <div [fxFlex]="'calc(50% - 640px)'" fxHide.lt-lg></div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
