/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar.mat-primary {
  background: #da7f8f;
  color: #fff;
}

.info-snackbar {
  background-color: #00b894;
  color: white;
}

.warn-snackbar {
  background-color: #fdcb6e;
  color: black;
}

.error-snackbar {
  background-color: #ff7675;
  color: white;
}

.sidenav-container {
  background-color: #e1e5ea;
}

.example-spacer {
  flex: 1 1 auto;
}

.word-display {
  font-weight: bold;
  color: #c51b0f;
  &.dictionary{
    font-size: 14pt;
  }
}

.phonetic-display {
  color: lightgray;
  font-weight: bold;
  &.dictionary {
    margin-left: 12px;
  }
}

.kind-display {
  color: lightsteelblue;
  &.dictionary {
    margin-left: 12px;
  }
}

.mean-display {
  color: #274fcc;
  font-weight: bold;
  &.dictionary{
    font-size: 13pt;
  }
}

.commenter-display {
  font-style: italic;
  color: grey;
  opacity: 0.8
}

.icon-display {
  transform: scale(0.75);
  color: grey;
}

.mean-div-display {
  &.dictionary {
    margin-top: 12px;
  }
}

.label-display {
  color: #c51b0f;
  opacity: 0.8;
}

.left-margin-div {
  margin-left: 16px;
}

.description {
  white-space: pre-line;
}

.mat-accordion {
  margin-bottom: 8px;
  .mat-expansion-panel-header {
    height: 40px;
  }
  .mat-action-row {
    height: 36px;
    padding: 0px;
  }
  .mat-expansion-panel-body {
    padding: 0 4px 4px 24px;
  }
}

.mat-icon-button {
  height: 24px !important;
  width: 24px !important;
  line-height: 24px !important;
}
.mat-icon {
  height: 24px !important;
  width: 24px !important;
}

.right-aligned-header {
  .mat-content {
    justify-content: space-between;
    mat-panel-title,
    mat-panel-description {
      flex: 0 0 auto;
    }
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid lightgray;
  opacity: 0.5;
  margin: 4px 0;
  padding: 0;
}
